.chart {
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

  padding: 10px;
  color: gray;
  width: 100%;
}

.chartGrid {
  stroke: rgb(228, 225, 225);
}

.title {
  margin-bottom: 20px;
}
